.sbar{
	position: fixed;
	width: 22%;
	/*border-right: 1px dotted black;*/
	margin-top: 2%;
	top: 0;
	left: 20;
	bottom: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	/*width: 25%;*/
}
.homePage{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#content{
	margin-top: 2%;
}
.details{
	padding-left: 10px;
}

.forMe_head{
	border-bottom: 1px solid black;
}
.info{
	font-size: 18px;
}
.card .card-title{
	color: black;
}

.profile{
	/*width: 100%;*/
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px;
	text-align: center;
	/*border: 2px dashed blue;*/
}
.picture{
	margin-left: 10px;
}
.side_main{
	/*width: 100%;*/
	/*border: 1px dashed blue;*/
}
.collection .collection-item{
	line-height: 3rem;
	font-size: 15px;
	text-align: center;
}

/*.material-icons {
	font-size: 
}*/
.achive_details{
	padding-left: 3%;
	font-size: 20px;
	line-height: 2;
}

.collection.with-header .collection-item {
    padding-left: 0px;
}

.iframee{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
