<div class="homePage">
	<div class="container-fluid">
		<div class="forMe">
			<div class="forMe_head">
				<h2 style="font-family: 'Titillium Web', sans-serif;">About Me</h2>
			</div>
			<div class="tagline" style="font-family: 'Lobster', cursive; text-align:center;">
				<h3 >"Wake up, Code, Sleep"</h3>
			</div>
			<div class="info" style="font-family: 'Titillium Web', sans-serif;">
				<div class="col s12 m12 l12">
					<p>My name is hitesh verma. I am from kota, Rajasthan. Currently pursuing my bachelors of technology  in computer science from arya college of engg. and I.T. . 
					I am a redhat certified system administrator and a redhat certified engineer.i Have a keen interest in developing applications have developed apps for various platform like android, java and firefox os. And also 1st runner up in jaipur hackathon held in jaipur. <Br/>Besides this i am also interested in cloud computing and distributed file system. A have also created a project on java using hadoop distributed file system. <br/>I am an quick learner , passionate and I can mold myself according to your expectation. my hobbies are dancing, acting, playing chess and i love to code.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
