	<div class="row">
        <div class="col s12 m3 l3">
          <div class="card hoverable">
            <div class="card-image">
              <img src="assets/images/eBrainstorm_icon.jpg" height="250">
              <span class="card-title">E-Brainstorm</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div> -->
            <div class="card-action">
              <a  class="modal-trigger" href="#modal1">Explore</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="assets/images/twfetcher.png" height="250">
              <span class="card-title">Tweet Fetcher</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div> -->
            <div class="card-action">
              <a  class="modal-trigger" href="#modal2">Explore</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="assets/images/zap_Thunder.png" height="250">
              <span class="card-title">Zapyle (Android)</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div> -->
            <div class="card-action">
              <a  class="modal-trigger" href="#modal3">Explore</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="assets/images/zapyle.png" height="250">
              <span class="card-title">Zapyle Social</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div> -->
            <div class="card-action">
              <a  class="modal-trigger" href="#modal4">Explore</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="assets/images/java_project.png" height="250">
              <span class="card-title">Word Search</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div> -->
            <div class="card-action">
              <a  class="modal-trigger" href="#modal5">Explore</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="assets/images/hadoop.png" height="250">
              <span class="card-title">Big Sort</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div> -->
            <div class="card-action">
              <a  class="modal-trigger" href="#modal6">Explore</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="assets/images/codexDelta.png" height="250">
              <span class="card-title">CodexDelta</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div> -->
            <div class="card-action">
              <a  class="modal-trigger" href="#modal7">Explore</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="assets/images/makeitEasy.png" height="250">
              <span class="card-title">Make-it-Easy</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div> -->
            <div class="card-action">
              <a  class="modal-trigger" href="#modal8">Explore</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="assets/images/quiz.png" height="250">
              <span class="card-title">Quiz Comp.</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div> -->
            <div class="card-action">
              <a  class="modal-trigger" href="#modal9">Explore</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l3">
          <div class="card">
            <div class="card-image">
              <img src="assets/images/jsp.png" height="250">
              <span class="card-title">Loan D.F.</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div> -->
            <div class="card-action">
              <a  class="modal-trigger" href="#modal10">Explore</a>
            </div>
          </div>
        </div>
    </div>


    <div class="myModals">
    	<div id="modal1" class="modal bottom-sheet">
		    <div class="modal-content">
		      <h3>E-Brainstorm <span><a href="https://github.com/Hitechverma/Blogger">[GITHUB REPO]</a></span></h3> 
		      <ul>
              <li>It is a blogging website for blogger in which a user can read, Upvote and comment on a blog and post his/her own blogs.</li>
              <li>It provides a hashtag(#) feature by which you can search or point to a specific topic.</li>  
          </ul>
          <h4>Technology Stack</h4>
          <span><pre>Frontend: HTML5, CSS, Javascript, JQuery, Bootstrap, AngularJS, Font-Awesome<br/>Backend : Python, Django REST framework, MySQL, PyCharm, Apache web server</pre></span> 
		    </div>
		    <div class="modal-footer">
		      <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		    </div>
		  </div>
      <div id="modal2" class="modal bottom-sheet">
        <div class="modal-content">
          <h3>Tweet Fetcher <span><a href="https://github.com/Hitechverma/TweetFetch-python">[Github Repo]</a></span></h3>
            <ul>
              <li>It is a tweet fetch engine developed in python using Django model to fetch tweet from twitter with a specific keyword in it.</li>
              <li>It fetch tweets and store it in the large MYSQL database.</li>  
          </ul>
          <h4>Technology Stack:</h4>
          <span><pre>Frontend: HTML, CSS, Javascript, JQuery<br/>Backend : Python, Django Web framework, MySQL, Apache web server</pre></span>  
        </div>
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <div id="modal3" class="modal bottom-sheet">
        <div class="modal-content">
          <h3>Zapyle Android App <span><a href="https://play.google.com/store/apps/details?id=com.zapyle.zapyle">[Play Store]</a></span></h3>
            <ul>
                <li>Zapyle is a fun, easy and social way to shop like a pro. The most chic closets in India to buy from and your own to sell. Shop over 1000 brands at up to 80% OFF retail !</li>
                <li>It is an Android application used for shopping, buying, selling fashion.</li>
            </ul>
          <h4>Technology Stack:</h4>
          <span><pre>Frontend : Android, Java, Xml, Image Caching libraries, Authentication Apis (Facebook, Instagram ), Animation, SnappyDB for database, Http Requests<br/>Backend: Python + Django REST framework, PostgreSQL, Microsoft Azure cloud.</pre></span> 
        </div>
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <div id="modal4" class="modal bottom-sheet">
        <div class="modal-content">
          <h3>Zapyle Social <span><a href="http://social.zapyle.com/#/ ">[LINK]</a></span></h3>
            <ul>
                <li>Zapyle Social is an Instagram©-like fashion community handcrafted for fashion bloggers and followers alike. From those culottes you were lusting after to that cocktail ring that keeps popping up in your dreams.</li>
            </ul>
          <h4>Technology Stack:</h4>
          <span><pre>Frontend : HTML5, CSS, Javascript, Jquery, AngularJS, Bootstrap, GruntJS, Nginx webserver<br/>Backend: Python Django REST, PostgreSQL, Microsoft Azure, Gunicorn JSON responses.</pre></span>
        </div>
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <div id="modal5" class="modal bottom-sheet">
        <div class="modal-content">
          <h3>Local Information Retrieval System <span><a href="https://github.com/Hitechverma/word-Search-engine">[GITHUB REPO]</a></span></h3>
            <ul>
                <li>It is a Java project named local information retrieval system that can take keywords from user and search through files in the system and give details of its location and frequency of repetition.</li>
                <li>The output will to traversed through binary search tree and will pe represented on GUI.</li>
            </ul>
          <h4>Technology Stack:</h4>
          <span><pre>Frontend : Java Swing, adt <br/>Backend: Core java , Porter's and Hits Algorithms.</pre></span> 
        </div>
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <div id="modal6" class="modal bottom-sheet">
        <div class="modal-content">
          <h3>Big Sort</h3>
            <ul>
                <li>The project is based on Hadoop Distributed File System</li>
                <li>A project for Searching, Sorting, finding Maximum, Minimum, Avg in a data set of 9.3 Million rows. It is a basic project for Using Hadoop Distributed File System and Mapreduce Technologies.</li>
            </ul>
          <h4>Technology Stack:</h4>
          <span><pre>The project have been developed using Java and hadoop 1.2.1 .</pre></span> 
        </div>
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <div id="modal7" class="modal bottom-sheet">
        <div class="modal-content">
          <h3>CodexDelta <span><a href="https://play.google.com/store/apps/details?id=com.codexdelta.scantobuy ">[Play Store]</a></span></h3>
            <ul>
                <li>An Android Application Based On Augmented-reality to scan and search in Image.</li>
                <li>“you buy what you see...real quick”. A Shopping Application for Android.</li>
            </ul>
          <h4>Technology Stack:</h4>
          <span><pre> Android, Java, Xml, Facebook Api, Qualcomm Vuforia SDK</pre></span> 
        </div>
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <div id="modal8" class="modal bottom-sheet">
        <div class="modal-content">
          <h3>Make-It-Easy <span><a href="https://marketplace.firefox.com/app/make-it-easy">[GITHUB REPO]</a></span></h3>
            <ul>
                <li>This application will give a User a Complete and short-time reference about C language.Chapter wise categorization of contents, plays a vital role in mastering C language. You will find detailed definitions and examples of each basic topics.</li>
            </ul>
          <h4>Technology Stack:</h4>
          <span><pre>HTML, CSS, Javascript, JQuery </pre></span> 
        </div>
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <div id="modal9" class="modal bottom-sheet">
        <div class="modal-content">
          <h3>Quiz Competation <span><a href=" https://github.com/Hitechverma/RegistrationPage">[GITHUB REPO]</a></span></h3>
            <ul>
                <li>College project for making web application for Quiz Competation.</li>
                <li>Basic Web application uses user registration and questions and answer.</li>
            </ul>
          <h4>Technology Stack:</h4>
          <span><pre>HTML, CSS, Javascript, JQuery, Php, Mysql, Wamp</pre></span>  
        </div>
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <div id="modal10" class="modal bottom-sheet">
        <div class="modal-content">
          <h3>Loan Documentation Fee <span><a href=" https://github.com/Hitechverma/website1 ">[GITHUB REPO]</a></span></h3>
            <ul>
                <li>Website for a ITI college.</li>
            </ul>
          <h4>Technology Stack:</h4>
            <span><pre>HTML, CSS, Bootstrap, Javascript, JQuery, Wordpress </pre></span>
        </div>
        <div class="modal-footer">
          <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
    </div>





    <script >
    	$(document).ready(function(){
	    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	    $('.modal-trigger').leanModal();
	  });
        
    </script>