<div class="sbar">
	<div class="container-fluid">
		<div class="side_main">
			<div class="profile">
				<div class="picture">
					<img src="./assets/images/dummy.jpg">
				</div>
				<div>
					<h2 style="align:center">{Hitesh Verma}</h2>
				</div>
				<div class="details">
					<h5><b>IrcNick: </b> <span>hitechverma</span></h5>
					<h5><b>Github: </b> <span><a href="https://github.com/hitechverma"> hitechverma </a></span></h5>
					<!-- <h5><b>LiknkedIn: </b> <span><a href="https://in.linkedin.com/in/hitechvema"> hitechverma </a></span></h5>
					<h5><b>Twitter: </b> <span><a href="https://twitter.com/Hitechverma"> hitechverma </a></span></h5>
					<h5><b>FaceBook: </b> <span><a href="https://www.facebook.com/hitech.verma"> hitechverma </a></span></h5>
					<h5><b>Google+: </b> <span><a href="https://plus.google.com/u/0/+HiteshVerma22/"> hitechverma </a></span></h5> -->
				</div>
			</div>
			<div class="tabs_block">
				<ul class="collection with-header">
		        <li><a href="#/" class="collection-item waves-effect"><div>About Me</div></a></li>
		        <li><a href="#/project" class="collection-item waves-effect"><div>Projects</div></a></li>
		        <li><a href="#/resume" class="collection-item waves-effect"><div>Resume</div></a></li>
		        <!-- <li><a href="#" class="collection-item waves-effect"><div>Contact</div></a></li> -->
		      </ul>
			</div>
		</div>
	</div>
</div>